#myDIV {
    margin: 25px;
    width: 550px;
    height: 100px;
    background: orange;
    position: relative;
    font-size: 20px;
    animation
  }

 
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px;}
    
  }
